aiohttp==3.5.4
aiostream==0.3.1
brotlipy==0.7.0
bloom-filter==1.3
bs4==0.0.1
emoji==0.5.2
gunicorn==19.9.0
jmespath==0.9.4
lxml==4.3.4
mysql-connector-python==8.0.18
PyExecJS==1.5.1
pyppeteer==0.0.25
pytest==5.3.1
pytest-asyncio==0.10.0
pytest-concurrent==0.2.2
python-dateutil==2.8.0
requests==2.22.0
Scrapy==1.6.0
ujson==1.35
uvloop==0.12.2
wrapt==1.11.2
youtube-dl
